{% extends "base.html" %}
{% load static %}
{% block extracss %}<link href="{% static "cover.css" %}" rel="stylesheet">{% endblock %}
{% block container %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
	<!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ACM Archiver</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
	-->
          <div class="inner cover">
	    <img style="height:70%;width:70%" src="{% static "Logo.png"%}"></img>
            <h1 class="cover-heading">Welcome.</h1>
            <p class="lead">ACM Archiver is a project dedicated to making data easier to store and retrive for the students of the CECS department at the J. B. Speed School of Engineering.</p>
            <p class="lead">
              <a href="/dashboard/" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Project Code on <a href="http://github.com/jgissend10/archiver">Github</a>, by <a href="http://github.com/jgissend10">JGissend10</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}
