{% extends "dashboard-main-base.html" %}
{% load static %}
{% block projectinfo %}
    <h2>Introduction</h2>
        <p>The Archiver project consits of a main project, built in python with django, that holds smaller apps together. These apps, are easy to create and allow a robust set of features to be built around the data that the incase. These features include dashboard displays, a REST api framework, PostGIS database backend with the help of GEOdjango, and much more.</p>
      <h2>Getting Started</h2>
        <p>This project relies on a Python+Django backend to work. If you haven't used one (or either) before familiarize yourself with <a href="#">Python</a> and <a href="#">Django</a>.</p>
      <h3>Archiver Features</h3>
        <p>The following is a brief introduction to the features of Archiver:</p>
      <h4>Dashboard</h4>
        <p>The Dashboard interface is the first thing users will see when interacting with the site.</p>
      <h4>Dashboard (cont.) - Navigation</h4>
        <p>Navigation</p>
      <h4>REST API Framework</h4>
        <p>Rest Framework</p>
      <h4>Admin interface and permissions</h4>
        <p>DERRR</p>
      <h4>PostGIS</h4>
        <p>PostGIS and GEODjango</p>
      <h2>Setting up Archiver Compatibility</h2> 
        <p></p>
      <h3>Models</h3>
        <p></p>
      <h3>Views</h3>
        <p></p>
      <h3>URLs</h3>
        <p></p>
      <h3>Templates</h3>
        <p></p>
      <h3>Static Media</h3>
        <p></p>
      <h3>User Contributed Media</h3>
        <p></p>
{% endblock %}
