<li class="{% if nav.active %} active{% endif %}">
<a {% if nav.dashboard %}onclick="$( '#page-wrapper' ).load( '{% if nav.view %}{{ nav.get_absolute_url }}{% elif nav.url %}{{ nav.url }}{% endif %} #content' );"{% elif nav.view %}onclick="window.location = '{{ nav.get_absolute_url }}'"{% elif nav.url %}onclick="window.location = '{{ nav.url }}'"{% endif %} href="#">{% if nav.icon %}<span class="glyphicon glyphicon-{{ nav.icon }}"></span> {% endif %}{{ nav.name }}{% if nav.option_list %}<span class="fa arrow"></span></a>
  	<ul class="nav nav-second-level">
    {% for option in nav.option_list %}
    {{ option }}
    {% endfor %}
    </ul>{% else %}</a>{% endif %}
</li>
