{% extends "base.html" %}
{% load static %}
{% load nav %}
{% block extracss %}
    {{ block.super }}
    <link href="{% static "dashboard/font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "dashboard/css/sb-admin.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ACM Archiver</a>
            </div>
            {% if form %}        <form class="form-inline pull-right login-form" style="padding: 8px 15px 0px 0px;" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only">{{ form.username.label_tag }}</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="sr-only">{{ form.password.label_tag }}</label>
                            {{ form.password }}
                        </div>

                        <button type="submit" class="btn btn-default">Sign In</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>{% else %}
            <!-- /.navbar-header -->
			{% get_nav "top" as top %}

			{% for nav in top %}
			{{ nav}}
			{% endfor %}
            {% endif %}
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-inverse navbar-static-side" role="navigation">
            <div class="sidebar-collapse">{% get_nav "main" as main %}
                <ul class="nav" id="side-menu">
                    {% for nav in main %}
                    {{ nav }}
                    {% endfor %}
                    {% get_nav "apis" as apis %}
                    {% for nav in apis %}
                    {{ nav }}
                    {% endfor %}
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div id="container">{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% endblock %}</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static "dashboard/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "dashboard/js/sb-admin.js" %}"></script>
    {% if form %}<script type="text/javascript">
        var input = $('.login-form > div > input');
        input.addClass('form-control');
        input[0].placeholder="Username";
        input[1].placeholder="Password";
    </script>{% endif %}
{% endblock %}
