{% extends "base.html" %}
{% load static %}
{% load nav %}
{% block extracss %}
    {{ block.super }}
    <link href="{% static "dashboard/font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "dashboard/css/sb-admin.css" %}" rel="stylesheet">
{% endblock %}
{% block container %}

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard/">ACM Archiver</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">{% get_nav "main" as main %}
                <ul class="nav" id="side-menu">
                    {% for nav in main %}
                    {{ nav }}
                    {% endfor %}
                    {% get_nav "apis" as apis %}
                    {% for nav in apis %}
                    {{ nav }}
                    {% endfor %}
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div id="content">{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% endblock %}</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static "dashboard/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "dashboard/js/sb-admin.js" %}"></script>
{% endblock %}
